body {
    font-family: Helvetica, sans-serif;
}

.tytulowy {
    background-color: ForestGreen;
    color: white;
    height: 100px;
    width: 80%;
    text-align: center;
}

.miniatury {
    background-color: ForestGreen;
    height: 100px;
    width: 20%;
}

.miniatury img {
    margin: 4px;
    padding: 5px;
    border: 1px solid ForestGreen;
    border-radius: 20px;
}

.miniatury img:hover {
    border-color: Maroon;
}

.blok.lewy {
    background-color: Tan;
    height: 700px;
    width: 25%;
}

.blok.prawy {
    background-color: Tan;
    height: 700px;
    width: 75%;
}

footer {
    background-color: ForestGreen;
    color: white;
    text-align: center;
}
